#header {
    text-align: center;
    margin: 0;
    padding: 0;
    position: fixed;
    min-width: 100%;
    top:0px;
    left:0px;
    background-image: url("mario.png");
    background-size: 550px;
}

#tabs {
    width: 100%;
}

#title {
    width: 100%;
    font-family: 'Play', sans-serif;
    font-size: x-large;
    color: black;
}

button {
    margin-right: 0;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 0;
    float: left;
    height: 35px;
    width: 16.6666666666667%;
    border-right:1px solid white;
    background: black;
    font-family: 'Play', sans-serif;
    color: white;
}

button:hover {
    background: #6B88FC;
    transition-duration: .4s;
}

html {
    padding-top: 160px;
    background-image: url('Images/white.png');
    background-size: contain;
}


a:visited {
    color:inherit;
}

h2 {
    font-family: 'Play', sans-serif;
    color: #585858;
}

#genre {
    font-family: 'Play', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

#container {
    margin-right: 30%;
    margin-left: 30%;
}

.box {
    font-family: 'Roboto', sans-serif;
    background-color: rgba(107, 136, 252, .7);
    width: fit-content;
    padding: 25px;
    border-radius: 5px;
    padding-top: 10px;
    margin: 20px;
}

img { 
    width: 80%;
    display: block;
    border: none;
    margin: auto;
}

input, textarea {
    border-radius: 5px;
    margin-bottom: 10px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
}

input[type="submit"] {
    background: black;
    color: white;
    transition-duration: .5s;
    height: 20px;
    width: 100px;
    font-size: smaller;
}

input[type="submit"]:hover {
    background-color: rgba(107, 136, 252, .7);
    border: 2px solid black;
    color: black;
    cursor: pointer;
}

#feed {
    font-size: medium;
    width: 70px;
}
