#header {
    text-align: center;
    margin: 0;
    padding: 0;
    position: fixed;
    min-width: 100%;
    top:0px;
    left:0px;
    background-image: url("mario.png");
    background-size: 550px;
}

#tabs {
    width: 100%;
}

#title {
    width: 100%;
    font-family: 'Play', sans-serif;
    font-size: x-large;
}

button {
    margin-right: 0;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 0;
    float: left;
    height: 35px;
    width: 16.6666666666667%;
    border-right:1px solid white;
    background: black;
    font-family: 'Play', sans-serif;
    color: white;
}

button:hover{
    background: #6B88FC;
    transition-duration: .4s;
}

html {
    padding-top: 160px;
    height: 100%;
    background-image: url('Images/white.png');
    background-size: contain;
}

#last-tab {
    border-right: none;
}

a:visited {
    color:inherit;
}

#contact {
    margin-left: 5%;
    margin-right: 5%;
}

h1, h3 {
    font-family: 'Play', sans-serif;
}

#tommyInfo {
    width:30%;
    float:left;
    padding:15px;
    background-color: rgba(107, 136, 252, .7);
    border-radius:5px;
    margin:3px;
    font-family: 'Roboto', sans-serif;
}

#kevinInfo {
    width:30%;
    float:left;
    padding:15px;
    background-color: rgba(107, 136, 252, .7);
    border-radius:5px;
    margin:3px;
    font-family: 'Roboto', sans-serif;
}

#uzairInfo {
    width:30%;
    float:left;
    padding:15px;
    background-color: rgba(107, 136, 252, .7);
    border-radius:5px;
    margin:3px;
    font-family: 'Roboto', sans-serif;
}

h3 {
    text-align:center;
}