#header {
    text-align: center;
    margin: 0;
    padding: 0;
    position: fixed;
    min-width: 100%;
    top:0px;
    left:0px;
    background-image: url("mario.png");
    background-size: 550px;
}

#tabs {
    width: 100%;
}

#title {
    width: 100%;
    font-family: 'Play', sans-serif;
    font-size: x-large;
}

button {
    margin-right: 0;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 0;
    float: left;
    height: 35px;
    width: 16.6666666666667%;
    border-right:1px solid white;
    background: black;
    font-family: 'Play', sans-serif;
    color: white;
}

button:hover{
    background: #6B88FC;
    transition-duration: .4s;

}

html {
    padding-top: 160px;
    height: 100%;
}

#last-tab {
    border-right: none;
}
#left-nav{
    float: left;
    width: 160px;
    margin: 0;
    padding: 1em;
    border-right: 1px solid gray;
}
#content h2{
    margin-left: 15vw;
}
