#header {
    text-align: center;
    margin: 0;
    padding: 0;
    position: fixed;
    min-width: 100%;
    top:0px;
    left:0px;
    background-image: url("mario.png");
    background-size: 550px;
}

#tabs {
    width: 100%;
}

#title {
    width: 100%;
    font-family: 'Play', sans-serif;
    font-size: x-large;
    color: black;
}

button {
    margin-right: 0;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 0;
    float: left;
    height: 35px;
    width: 16.6666666666667%;
    border-right:1px solid white;
    background: black;
    font-family: 'Play', sans-serif;
    color: white;
}

button:hover {
    background: #6B88FC;
    transition-duration: .4s;
}

#search{
    position: fixed;
    top: 140px;
    right: 0px;
}

html {
    padding-top: 160px;
}

#last-tab {
    border-right: none;
}
#left-nav{
    position: fixed;
    float: left;
    width: 160px;
    margin: 0;
    padding: 1em;
    border-right: 1px solid gray;
}


a:visited {
    color:inherit;
}

h2 {
    font-family: 'Play', sans-serif;
}

#content { 
    margin-left: 192px;
    margin-right: 160px;
}

#solitaire {
    float: right;
    padding-top: 20px;
}

#solitaire-text {
    float: left;
    width: 300px;
}

#games {
    margin: auto;
    width: 70%;
    padding:5px;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#6B88FC;
    padding:3px;
}

#footer p{
    padding-left: 20px;
    padding-bottom: 0px;
}
