#header {
    text-align: center;
    margin: 0;
    padding: 0;
    position: fixed;
    min-width: 100%;
    top:0px;
    left:0px;
    background-image: url("mario.png");
    background-size: 550px;
}

#tabs {
    width: 100%;
}

#title {
    width: 100%;
    font-family: 'Play', sans-serif;
    font-size: x-large;
    color: black;
}

button {
    margin-right: 0;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 0;
    float: left;
    height: 35px;
    width: 16.6666666666667%;
    border-right:1px solid white;
    background: black;
    font-family: 'Play', sans-serif;
    color: white;
}

button:hover {
    background: #6B88FC;
    transition-duration: .4s;
}

#login{
    position: fixed;
    top: 170px;
    right: 30px;
}

html {
    padding-top: 160px;
    background-image: url("Images/white.png");
    background-repeat: repeat;
    background-size: contain;
}

#last-tab {
    border-right: none;
}


a:visited {
    color:inherit;
}

h2 {
    font-family: 'Play', sans-serif;
    font-size: xx-large;
}

h3 {
    font-size: xx-large;
    font-family: 'Play', sans-serif;
}

#content { 
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 50px;
}

#solitaire {
    float: right;
    padding-top: 20px;
}

#solitaire-text {
    float: left;
    width: 300px;
}

#games {
    margin: auto;
    padding:5px;
}

#games {
    background: rgba(107, 136, 252, .7);
    border-radius: 5px;
    padding: 25px;
}

iframe {
    border: none;
    text-align: center;
    display: block;
    margin: auto;
    border-radius: 5px;
}

p {
    font-family: 'Roboto', sans-serif;
}

#purpose {
    background: rgba(107, 136, 252, .7);
    border-radius: 5px;
    padding: 25px;
    margin-top: 20px;
}

#gimage { 
    margin: auto;
    display: block;
    width: 500px;
}


